/* ------ CSS3 - SVG Turbulence Filter Animation ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e8e8e8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23acabae' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
h1 {
    font-family: 'Londrina Solid', cursive; /* font-family: 'Londrina Solid', cursive; | font-family: 'Londrina Sketch', cursive;  */
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 2px 1px  #858585;
    filter: drop-shadow(-1px 6px 3px rgba(133, 133, 133, 0.5));
    text-align: center;
    margin-top: 70px;
}
.container {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-1px 6px 3px rgba(133, 133, 133, 0.5));
}
.button_wrapper {
    position: relative;
    width: 100%;
    height: 70px;
    margin-bottom: 25px;
    filter: url("#shake0");
}
button, .button_label {
    position: absolute;
    width: 100%;
    height: 100%;
}
.button_label {
    line-height: 70px;
    text-align: center;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
button {
    background: black;
    outline: none;
    border: none;
}
.button_wrapper:hover {
    transform: scale(1.5);
    z-index: 100;
    animation: distort .5s linear infinite;
}
.button_wrapper:hover button {
    background: white;
}
.button_wrapper:hover .button_label {
    color: black;
}
@keyframes distort {
    0% { filter: url("#shake0");}
    25% { filter: url("#shake1");}
    50% { filter: url("#shake2");}
    75% { filter: url("#shake3");}
    100% { filter: url("#shake4");}
}

